<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>WeChat</title>
  <link rel="stylesheet" href="css/style.css" media="screen" type="text/css" />
</head>

<body>

  <div class="phone">
  <div class="screen">
  <div class="messages">
    <ul>
      <li class="message status">
        <p>Welcome To WeChat</p>
      </li>
      <li class="message recieved">
        <p>Ooh eeh, ooh ah ah, welcome to the WeChat, you can chat with others in here</p>
        <time>20:20</time>
      </li>
      <li class="message sent">
        <p>Wakaka, it's amazing and awesome, I do love it!</p>
        <time>20:21</time>
      </li>
      <li class="message recieved">
        <p>Let's start chat!</p>
        <time>20:22</time>
      </li>
    </ul>

    <div class="message input">
      <textarea name="inputMessage" placeholder="type a text message" cols="5" rows="5"></textarea>
    </div>
  </div>
  </div>
  <div class="send_button"></div>
  </div>

<script src="../../libs/jquery.min.js"></script>
<script src="js/index.js"></script>

</body>

</html>