<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/style.css" media="screen" type="text/css" />
</head>

<body>

  <div class="phone">
  <div class="screen">
  <div class="messages">
    <ul>
      <li class="message recieved">
        <p>Ooh eeh, ooh ah ah, ting tang walla walla bing bang</p>
        <time>15:23</time>
      </li>
      <li class="message sent">
        <p>Ooh eeh, ooh ah ah, ting tang walla walla bing bang</p>
        <time>14:32</time>
      </li>
      <li class="message recieved">
        <p>Ooh eeh, ooh ah ah, ting tang walla walla bing bang</p>
        <time>15:23</time>
      </li>
      <li class="message sent">
        <p><a href='#'>Quality song</a> bibibili</p>
        <time>14:32</time>
      </li>

      <li class="message status">
        <p>Kunkun is online</p>
      </li>

      <li class="message recieved">
        <p>hmm . . . what else should i write! :)</p>
        <time>15:23</time>
      </li>
    </ul>

    <div class="message input">
      <textarea name="inputMessage" placeholder="type a text message" cols="5" rows="5"></textarea>
    </div>
  </div>
  </div><!-- End of Messages -->
  <div class="send_button"></div>
  </div>

<script src="../../libs/jquery.min.js"></script>
<script src="js/index.js"></script>

</body>

</html>