<script type="text/javascript">
window.musicList = [{
	track: 'Jar Of Love',
	artist: '曲婉婷',
	album: 'Everything In The World',
	img: 'http://p3.music.126.net/8jt2KnGDF0qMP9JbidOtVA==/573945069746475.jpg?param=300y300',
	src: 'http://urinx.github.io/music/jar_of_love.mp3',
	lyricUrl: 'http://music.163.com/api/song/media?id=285089',
	lyric: '',
},{
	track: '李白',
	artist: '李荣浩',
	album: '模特',
	img: 'http://p3.music.126.net/Qdi7VcmK2-FH9na5N8CtdA==/1362294906878892.jpg?param=300y300',
	src: 'http://urinx.github.io/music/libai.mp3',
	lyricUrl: 'http://music.163.com/api/song/media?id=27678655',
	lyric: '',
},{
	track: '后来',
	artist: '刘若英',
	album: '我等你',
	img: 'http://p4.music.126.net/M5Gau4R-21LrhrBhmwnZ8A==/48378511639151.jpg?param=300y300',
	src: 'http://urinx.github.io/music/later.mp3',
	lyricUrl: 'http://music.163.com/api/song/media?id=254574',
	lyric: '',
},{
	track: '星星月亮',
	artist: '曾轶可',
	album: '星星月亮',
	img: 'http://p3.music.126.net/YyZaTxG-HgYYeaZzmF3fGw==/3245758326647105.jpg?param=300y300',
	src: 'http://urinx.github.io/music/star_moon.mp3',
	lyricUrl: 'http://music.163.com/api/song/media?id=29771122',
	lyric: '',
},{
	track: 'Young For You',
	artist: 'GALA',
	album: 'Young For You',
	img: 'http://p4.music.126.net/_g_52t_RLrYze2dNBkvHvg==/65970697682161.jpg?param=300y300',
	src: 'http://urinx.github.io/music/YoungForYou.mp3',
	lyricUrl: 'http://music.163.com/api/song/media?id=356034',
	lyric: '',
},{
	track: '突然想到理想这个词',
	artist: '郝云',
	album: '突然想到理想这个词',
	img: 'http://p3.music.126.net/R5mODGRm_AE-gTO860nUig==/31885837218014.jpg?param=300y300',
	src: 'http://urinx.github.io/music/think_of_ideal.mp3',
	lyricUrl: 'http://music.163.com/api/song/media?id=93562',
	lyric: '',
},{
	track: '入戏太深',
	artist: '马旭东',
	album: '入戏太深',
	img: 'http://p4.music.126.net/9Qg2G0A3IpNDjoTxUukkpQ==/6655343884339079.jpg?param=300y300',
	src: 'http://urinx.github.io/music/sink_in_drama_so_deep.mp3',
	lyricUrl: 'http://music.163.com/api/song/media?id=29818815',
	lyric: '',
}];
</script>